.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.preview {
    width: 100px;
    height: 100px;
    border: 1px dashed black;
}

.images {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.selected {
    border: 3px solid red;
}

.preview img {
    object-fit: cover;
}

.input {
    margin: 10px;
}
